server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: spring-boot-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: salang-backend
          __path__: /app/logs/*.log
    pipeline_stages:
      - json:
          expressions:
            timestamp: "@timestamp"
            level: level
            thread: thread
            logger: logger_name
            message: message
            application: application
            profile: profile
      - labels:
          level:
          application:
          profile:
      - timestamp:
          source: timestamp
          format: RFC3339
