spring:
  application:
    name: matching_poc
  docker:
    compose:
      enabled: false # Swarm 모드에서는 사용하지 않음

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  file:
    path: ./logs
    name: ./logs/application.log
  level:
    root: INFO
    com.salang.matching_poc: DEBUG
