spring:
  application:
    name: matching_poc
  datasource:
    url: jdbc:postgresql://localhost:5432/mydatabase
    username: myuser
    password: secret
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  prometheus:
    metrics:
      export:
        enabled: true

logging:
  file:
    path: ./logs
    name: ./logs/application.log
  level:
    root: INFO
    com.salang.matching_poc: DEBUG
